@import './variables.scss';
@import './element-ui.scss';

// 重置默认样式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
  
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}



#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

label {
  font-weight: 700;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0px;
}

// 全屏类
.full-screen {
  width: 100vw;
  height: 100vh;
}

.full-height {
  height: 100vh;
}

.full-width {
  width: 100vw;
}

.max-height {
  height: 100%;
}

.max-width {
  width: 100%;
}

.inherit-height {
  height: inherit;
}

// 字体类
.fz-12 {
  font-size: 12px!important;
}

.fz-14 {
  font-size: 14px!important;
}

.fz-18 {
  font-size: 18px!important;
}

.fz-24 {
  font-size: 24px!important;
}

.fz-30 {
  font-size: 30px!important;
}

.fw-300 {
  font-weight: 300!important;
}

.fw-500 {
  font-weight: 500!important;
}

.fw-700 {
  font-weight: 700!important;
}

.fw-900 {
  font-weight: 900!important;
}

// padding类

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}


.pr-30 {
  padding-right: 30px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

// margin类

.no-margin {
  margin: 0px !important;
}

.m-center {
  margin: 0 auto;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}



// 1px
.one-line {
  width: 100%;
  display: block;
  border-bottom: 1px solid #dee5e7;
  margin: 0 auto;
}

// 显示与隐藏

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

// 浮动
.fr {
  float: right;
}

.fl {
  float: left;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// 布局

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.d-flex {
  display: flex;
}
.j-c{
  justify-content: center;
}
.j-sb{
  justify-content: space-between;
}
.a-c{
  align-items: center;
}

// 鼠标指针
.pointer {
  cursor: pointer;
}




